include ../_/_mixins

.rhapsody.project.sections(data-orbit)
  +intro-shot('rhapsody')
    +intro-horizontal-ipad('rhapsody.gif')
    +description()
      .name Rhapsody Voice (Built at Ask Ziggy)
      .teaser What if you could play any song just by saying its name?
  +product-shot()
    .v-center-container(style='width:100%')
      .v-center
        .device.ipad-flat-horizontal(style='display: block;margin: 0 auto;')
          img(src='img/rhapsody1.gif')
  +product-shot()
    .v-center-container.centered-block
      .v-center
        .row
          .medium-12.columns
            h2 Native app
            p.
              Given that the previous app only looked native, I have to point out that this one was coded using Objective-C.
            h2 The concept
            p.
              What if you could control your iPhone or iPad music app without taking your eyes off the road? The app could play any popular song requested.
