- var HOME_PAGE = 'home'

mixin link(name)
  a(href='/'+name, class=(CURRENT_PAGE==name || (CURRENT_PAGE==HOME_PAGE && name=='')) ? 'active':'')
    block

mixin nav(name)
  - var CURRENT_PAGE = name
  header.header2
    .content
      a(href='/')
        .title Mark Miro
        .sub-title.show-for-medium-only Developer / designer
        .sub-title.show-for-large-up Front-end web app developer / designer
      nav
        ul
          //- li: +link('') Projects
          //- li: +link('labs') Labs
          //- li: +link('about') About
          li: +link('mailto:contact@markmiro.com') Contact Me


