include _/_page

+page('portfolio', 'Projects')
  .hero.v-center-container
    .v-center
      .medium-12.columns
        h1 I want to help you achieve amazing things.
        .scroll-indicator Scroll down to see my projects.
  include projects/teal
  include projects/rhapsody
  include projects/preamble
  include projects/its
