#content-body-text-test
  h1 h1. This is a huge header.
  h2 h2. This is a large header.
  h3 h3. This is a medium header.
  h4 h4. This is a moderate header.
  h5 h5. This is a small header.
  h6 h6. This is a tiny header.
  hr

  p.
    Many articles have been written on the benefits in store for designers who write. I can testify that they’re endless. Over time, the line that separates writing from speaking, coding and design gradually fades away. Eventually, you realize that they’re simply different forms of communication.
  .grid-row-test
    h2.section.dropshadow-example.
      Do you still think dropshadows are cool?
    p.section.
      Lorem ipsum Elit ea deserunt cillum occaecat nostrud laboris sit sit dolor eu elit adipisicing sed consequat eu id reprehenderit Duis nostrud et et occaecat in sit qui officia labore laborum laborum aliqua proident reprehenderit minim Duis.
  h3 I enjoy creating usable, beautiful interfaces
  p.
    I'm not an illustrator, and I don't design icons. But I know enough about typography, composition, and color to turn ideas into beautiful working interfaces.
  h2 Skill set
  p.
    I'm Mark Miro. I specialize in making your customers happy by making their experience with your website, your online communications, and your online marketing pleasurable. Good experiences for your customers will increase their loyalty, engender trust, and decrease the amount of calls/emails about stupid questions.
  p.
    Why you should trust me: I don't have a portfolio to prove it, but I do have the skills. In my previous job I created by user experiences for bleeding edge technologies like voice recognition (think Siri), gestures (think xBox Kinect), and eye tracking. I created these experiences by writing software that would allow people to interact with their computers, their phones, and their tablets in new ways. I worked for a bleeding-edge company to create these experiences. However, I've been passionate about the web since before I hit puberty. I realized I need a change of pace when I started working on web projects on my spare time. There are so many bad websites on the web that I decided to do something about it, and so here I am.
  h2 Do you have the technical abilites?
  p.
    For sure! I know HTML5, Javascript, Wordpress, and I've even made an iPad app. I learn new technologies as they come out, but my greatest strengths are in knowing how to create intuitive websites
  h4 Top interests:
  ul
    li Simple flat design
    li Innovative user interfaces
    li Working with you beyond doing web design, and instead focusing on business solutions
    li Consistency
    li Clean code
    li Actually solving a problem
    li web tools and apis
    li clever / experimental user interfaces
  p.
    I don't do websites. I solve problems. You don't need me because you need a website. You need me because you want to solve a problem. For example, if you're a restaurant you want people to know your hours without going to the restaurant. You also want to make it easy for people to know what you're about, what you serve, and why they should go there. Most websites don't do that. But your website will if you let me build it. This is what will make you stand out amongst the crowd.
  h2 Services
  ul
    li Geometric logo design
      ul
        li.
          I'm not an Illustrator, but I can make something that looks incredibly professional. If you want an illustration as part of your logo I can hook you up with an amazing designer by tapping into my network
    li.
      Basic website setup. If you need to get a website up and running in under a week, or you are uncomfortable using computers in general, this is the service for you. The website will be professional, polished, but not up to my OCD standards. Of all my services I like providing this one the least (yes I have favorites), but very few people can do this better than me, so I feel strongly about letting me help you with this need.
    li.
      Minimalist bespoke website design. I will sit down with you, talk to you about what goals you want to accomplish with your site, who you want to reach, and what general look or mood you want to set. When it comes down to it I'm here to listen to your dreams and desires and "just figure it out". I'll keep you posted on my progress so you don't get surprised at the end with something you never wanted. Once I'm done you'll be left with a website that is easy for you to maintain by using a CMS, and easy for another developer to jump in a tweak something in case something happens to me. I care about my work, so I make sure the stuff nobody sees looks good too.
  h2 Philosophy
  p I believe that beauty translates into functionality
  h3 Why Uncrunchable
  hr
  h3
    | Choose UN
    b CRUNCH
    | ABLE if...
  ul
    li.
      You want a website that people can go to, find the information they need in record time, and leave satisfied
    li.
      Get potential customers off the fence if they're not sure if they want to do business with you yet
    li You want the best possible first impression
    li.
      You care about the little details, but wish there was someone you could trush to just take care of them when it comes to technologies you aren't an expert in
    li.
      You want someone who will go beyond building a website that "looks good enough" and try to understand your business, your customers, why you're different, and how the website will fit into your overall business strategy
    li.
      You want to be confident that if anything happens to me after the website is complete, then you'll be able to find someone to make any changes you want with ease
    li.
      You want a website with big sexy images that take over the whole screen. I can do photography, but if you want something amazing I can refer you to someone so good they'll know your socks off.
    li.
      You want some who you can throw ideas at and know they have the skill set to make it happen.
  hr
  h4 Web design and iPhone/iPad/Android app development for small to medium sized businesses
  hr
  h3 Get off this website if:
  ul
    li You still think drop shadows and glossy buttons are cool
    li If you think this website looks good: link
    li You tend to think EVERYTHING IS IMPORTANT
    li You offer plumbing + poodle day care services and you want a website that encompasses both
    li You don't think you need a mobile website
    li You've never heard of HTML5
    li If you tend to say: "I don't care how it looks, I just want it to be functional"
  p.
    My goal is to one day create the kind of impeccable work that only a few people in the world are capable of. I want to create things that trancsends the sum of it's parts.
  h3 Some projects I've worked on
  ul
    li Preable
    li Fingerpaint
    li Color picker for artists
    li TEDx
  section.controls
    a.button Continue
    br
    a.button.red Cancel
    br
    a.button.blue Submit
    br
    a.button.quiet Submit