include inc/_page
+page('about', 'About')
    p This is the about page!
    p Lorem ipsum Deserunt incididunt tempor in proident elit esse officia deserunt occaecat id veniam cillum sed sit in ut reprehenderit consequat ut in ea in aliqua ea nostrud pariatur sed qui Excepteur ex esse dolor ad cillum consectetur Ut laborum.
