doctype html
html
    head
        link(href='css/styles.css' rel='stylesheet')
    body
        h1 Mark Miro's Website 15
        p Hi there again
        a(href='/about') About me...
        script(type='text/javascript', src='js/app.js')
